*{
    margin:0px;
    padding:0px;
}
body{
    margin:0px;
    padding:0px;
    background-color:5d9b9b;
    color:black;
}

.active{
    background-color:yellow;
    color: blue;
}
#navegacion{
    width: 100%;
    background-color: darkcyan;
    font-family: 'Kaushan Script', cursive;   
}